GROUPBY ASSIGNMENT

USING A DATAFRAME CONTAINING STUDENT SCORES(STUDENT,SUBJECT,SCORE)
GROUP THE DATA BY SUBJECT AND FILTER TO SHOW ONLY THOSE SUBJECTS WHERE THE AVERAGE SCORE IS ABOVE 75

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [15]:
df1=pd.DataFrame({'Student':['Aby','Sam','Riya','Alan','Noor'],
                  'Subject':['English','Maths','Chemistry','Biology','Physics'],
                  'Score':[80,40,57,90,85]})
df1

  Student    Subject  Score
0     Aby    English     80
1     Sam      Maths     40
2    Riya  Chemistry     57
3    Alan    Biology     90
4    Noor    Physics     85

In [6]:
filt=df1.groupby('Score').groups
filt

{'40': [1], '57': [2], '80': [0], '85': [4], '90': [3]}

In [19]:
df1=df1.groupby('Subject').agg({'Score':'mean'})
df1

           Score
Subject
Biology     90.0
Chemistry   57.0
English     80.0
Maths       40.0
Physics     85.0

In [13]:
df1.dtypes

Student    object
Subject    object
Score      object
dtype: object

In [ ]:
df1.Score

In [ ]:
df1.Score>'75'

In [ ]:
df=pd.DataFrame({'Student':['Aby','Cyril','Rayan','Alan','Kevin','neel'],
                 'English':['50','80','70','40','59','85'],
                'Maths':['30','50','78','56','45','90'],
                'Biology':['50','56','78','98','57','90']})
df

In [ ]:
df.groupby('English').agg({'English':'mean'})